@page "/"
@using Newtonsoft.Json
@using eShopShare.Models;
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject Microsoft.Extensions.Configuration.IConfiguration config;
@*@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage*@
@layout WebLayout;
@inject IOnChangeService _OCSvc;
@inject IToastService _toastSvc;
@inject ICallProductSvc _productSvc;
@inject ICartService _cartSvc;
@inject IJSRuntime JSRuntime;
@using eShopShare.Models.Paging;

@if (monAns == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <section class="featured-products bgcolor  section--padding">
        <div class="shortcode_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="shortcode_modules">
                            <div class="tab tab3">
                                <div class="item-navigation" style="text-align:left !important">
                                    <ul class="nav nav-tabs nav--tabs2">
                                        <li>
                                            <a href="#new-phim-index-tab" class="active" role="tab" data-toggle="tab">
                                                <span class="fa fa-burger-soda"></span> Thức ăn nổi bật
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane product-tab fade show active" id="new-phim-index-tab">
                                        <div class="row">
                                            @foreach (var item in monAns)
                                            {
                                                <div class="col-6 col-md-6 col-lg-3 col-rt15-3" style="padding-right:5px; padding-left:5px">
                                                    <div class="news" style="margin-bottom:30px">
                                                        <div class="news__thumbnail">
                                                            <a href="/food-detail/@item.Id" title="@item.Name">

                                                                @{
                                                                    if (item.Photos.Any())
                                                                    {
                                                                        temp = imgUrl + item.Photos.FirstOrDefault().FileName;
                                                                    }
                                                                    else
                                                                    {
                                                                        temp = imgUrl + "/nophoto.png";
                                                                    }

                                                                }
                                                                <img src="@temp" alt="@item.Name" title="@item.Name" style="width:270px;height:290px">
                                                            </a>
                                                        </div>
                                                        <div class="news__content">
                                                            <a href="food-detail/@item.Id" class="news-title" title="@item.Name" style="margin-bottom:5px">
                                                                <h2 style="font-size:14px; line-height:20px">@item.Name</h2>
                                                            </a>
                                                            <h3 style="font-size:12px; color: var(--p); line-height:20px" title="@item.MoTa">@item.MoTa</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@code {
    private string name;
    //public List<MonAn> monAns = null;
    protected string imgUrl = "";
    protected string temp = "";
    public string CARTKEY = "cart";
    public List<MonAn> monAns { get; set; } = new List<MonAn>();
    public MetaData MetaData { get; set; } = new MetaData();
    private ProductParameters _productParameters = new ProductParameters();
    //protected void OnInitialized()
    protected override async Task OnInitializedAsync()
    {
        imgUrl = config.GetSection("API")["ImgUrl"].ToString();
        temp = imgUrl + "/nophoto.png";
        await GetProducts();
    }
    private async Task GetProducts()
    {
        var res = await _productSvc.GetAll();
        monAns = res.OrderByDescending(x => x.Views).Take(4).ToList();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "Web bán thức ăn"); ;
    }
}

