@page "/login"
@using System.Web;
@using System.Net;
@using System.ComponentModel.DataAnnotations;
@layout LoginLayout;
@inject NavigationManager NavigationManager

<div class="col-md-4 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Đăng nhập</h4>
        <div class="card-body">
            <div class="form-group">
                <input type="text" id="username" placeholder="Email" @bind="@userName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" @bind="@password" @onkeypress="Enter" class="form-control" />
            </div>
            <button class="ml-md-auto btn btn-primary" @onclick="CheckLogin">
                Login
            </button>
            @if (!string.IsNullOrEmpty(error))
            {
                <div class="alert alert-danger mt-3 mb-0">@((MarkupString)error)</div>
            }
        </div>
    </div>
</div>


@code {
    private bool loading;
    private string error;

    string userName = "";
    string password = "";

    private string name;
    protected override void OnInitialized()
    {
    }

    private string Encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (password != "")
            {
                CheckLogin();
            }
        }
    }

    private void CheckLogin()
    {
        error = "";
        if (userName == "")
        {
            error = " - Bạn cần nhập email.";
        }
        if (password == "")
        {
            error += (error == "" ? "" : "<br/>") + " - Bạn cần nhập password.";
        }
        if (error == "")
        {
            NavigationManager.NavigateTo("CheckLogin?paramUserName=" + @Encode(@userName)
            + "&paramPassword=" + @Encode(@password), true);
        }
    }
}