@page "/don-hang-dialog/{id}"
@using System.IO
@using eShopShare.Models
@using Microsoft.AspNetCore.Hosting;
@inject IDonHangSvc _donHangSvc
@inject NavigationManager navigation
@inject IWebHostEnvironment env
@inject DataContext _context
@inject IToastService toastService;
<h3>@TieuDe</h3>
@if (donhang == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">

            <EditForm Model="@donhang" OnValidSubmit="@SubmitForm">
                <DataAnnotationsValidator />
                            <ValidationSummary />
                <input type="hidden" @bind="donhang.DonHangID" />
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Khách hàng email</label>
                    <InputText class="form-control" @bind-Value="donhang.KhachHang.Email"></InputText>
                    <ValidationMessage For="@(()=>donhang.KhachHang.Email)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Ngày đặt</label>
                    <InputDate class="form-control" @bind-Value="donhang.NgayDat"></InputDate>
                    <ValidationMessage For="@(()=>donhang.NgayDat)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Tổng tiền</label>
                    <InputNumber class="form-control" @bind-Value="donhang.Tongtien"></InputNumber>
                    <ValidationMessage For="@(()=>donhang.Tongtien)"></ValidationMessage>
                </div>
               <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Trạng thái</label>
                    <InputSelect class="form-control" @bind-Value="donhang.TrangthaiDonhang" >
                        @foreach(var pl in Enum.GetValues(typeof(DonHang.TrangThaiDonHang)))
                        {
                            <option value="@pl">@pl</option>
                        }
                </InputSelect>
                </div>
            <div class="form-group">
                <label class="form-label">Ghi chú</label>
                <InputText class="form-control" @bind-Value="donhang.Ghichu"></InputText>
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-info">Lưu</button>
                <input class="btn btn-primary" @onclick="@Cancel" type="button" value="Thoát">
            </div>
        </EditForm>
    </div>
</div>
}
@code {
    [Parameter]
    public string id { get; set; }

    private DonHang donhang { get; set; }

    private string TieuDe = "";

    IReadOnlyList<IBrowserFile> selectedFile;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(id) || id == "0")
        {
            navigation.NavigateTo("/donhanglist", true);
        }
        else
        {
            TieuDe = "Sửa đơn hàng";
            donhang = _donHangSvc.GetDonHang(int.Parse(id));
        }
    }

    private async void SubmitForm()
    {
        _donHangSvc.EditDonHang(donhang.DonHangID, donhang);
        toastService.ShowSuccess($"Sửa thành công đơn hàng {donhang.DonHangID}");
        navigation.NavigateTo("/don-hang-list");
    }

    private void Cancel()
    {
        navigation.NavigateTo("/don-hang-list", true);
    }


}