@page "/nguoi-dung-list"
@using eShopShare
@inject INguoidungSvc  _nguoidungSvc
@inject DataContext _context;
@inject IToastService toastService;
<h1 class="text-center">Danh sách người dùng</h1>
@if(nguoidungs == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <a class="btn btn-success p-10" href="/nguoi-dung-dialog/0">Thêm</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Tên đăng nhập</th>
      <th scope="col">Họ tên</th>
      <th scope="col">Email</th>
      <th scope="col">Chức danh</th>
      <th scope="col">Vai trò</th>
    </tr>
  </thead>
  <tbody>
            @foreach(var item in nguoidungs)
            {
                <tr>
      <th >@item.UserName</th>
      <td>@item.FullName</td>
      <td>@item.Email</td>
      <td>@item.Title</td>
      <td>@item.IsAdmin</td>
      <td><a class="btn btn-info" href="/nguoi-dung-dialog/@item.NguoiDungId">Sửa</a></td>
      <td><button class="btn btn-info" @onclick="@(()=>Delete(@item.NguoiDungId))">Xóa</button></td>
    </tr>
            }
        </tbody>
</table>
}
@code{
    public List<Nguoidung> nguoidungs;
    protected override void OnInitialized()
    {
        GetNguoiDungs();
    }
    public void GetNguoiDungs()
    {
        nguoidungs = _nguoidungSvc.GetNguoiDungAll();
    }
    private void Delete(int id)
    {
        var nguoidung = _context.NguoiDungs.Find(id);
        _context.NguoiDungs.Remove(nguoidung);
        _context.SaveChanges();
        toastService.ShowSuccess($"Xóa thành công người dùng {nguoidung.UserName}");
        GetNguoiDungs();
        StateHasChanged();
    }
}