@page "/nguoi-dung-dialog/{id}"
@using eShopShare.Models
@inject INguoidungSvc _nguoiDungSvc
@inject NavigationManager navigation
@inject IToastService toastService;
@inject DataContext _context;
<h3>@TieuDe</h3>
@if (nguoidung == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
            <div class="col-md-4">

                <EditForm Model="@nguoidung" OnValidSubmit="@SubmitForm">
                    <DataAnnotationsValidator />
                            <ValidationSummary />
                    <input type="hidden" @bind="nguoidung.NguoiDungId" />
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Tên Đăng Nhập</label>
                    <InputText class="form-control" @bind-Value="nguoidung.UserName"></InputText>
                    <ValidationMessage For="@(()=>nguoidung.UserName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Họ Tên</label>
                    <InputText class="form-control" @bind-Value="nguoidung.FullName"></InputText>
                    <ValidationMessage For="@(()=>nguoidung.FullName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <InputText class="form-control" @bind-Value="nguoidung.Email" type="email"></InputText>
                    <ValidationMessage For="@(()=>nguoidung.Email)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Chức danh</label>
                    <InputText class="form-control" @bind-Value="nguoidung.Title"></InputText>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Ngày sinh</label>
                    <InputDate class="form-control" @bind-Value="nguoidung.DOB"></InputDate>
                    <ValidationMessage For="@(()=>nguoidung.DOB)"></ValidationMessage>
                </div>
                <div class="form-group form-check row">

                    <label for="exampleInputEmail1" class="form-check-label">
                        
                        Quản trị
                        <InputCheckbox class="form-control" @bind-Value="nguoidung.IsAdmin" type="checkbox"></InputCheckbox>
                    </label>
                    <label for="exampleInputEmail1" class="form-check-label">
                        
                        Hoạt động
                        <InputCheckbox class="form-control" @bind-Value="nguoidung.Locked" type="checkbox"></InputCheckbox>
                    </label>
                </div>
                <div class="form-group form-check">
                </div>
                
                    <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Mật khẩu</label>
                            <InputText class="form-control" @bind-Value="nguoidung.Password" type="password"></InputText>
                            <ValidationMessage For="@(()=>nguoidung.Password)"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Xác nhận mật khẩu</label>
                            <InputText class="form-control" @bind-Value="nguoidung.ConfirmPassword" type="password"></InputText>
                            <ValidationMessage For="@(()=>nguoidung.ConfirmPassword)"></ValidationMessage>
                        </div>
                

                <div class="form-group">
                    <button type="submit" class="btn btn-info">Lưu</button>
                    <input class="btn btn-primary" @onclick="@Cancel" type="button" value="Thoát">
                </div>
                </EditForm>
            </div>
        </div>
}
@code  {
    [Parameter]
    public string id  { get; set; }

    private Nguoidung nguoidung  { get; set; }

    private string TieuDe = "";

    protected override void OnInitialized()
    {
        if  (string.IsNullOrEmpty(id) || id == "0")
        {
            TieuDe = "Thêm người dùng";
            //nguoidung = _nguoiDungSvc.GetNguoiDung(int.Parse(id));
            nguoidung = new Nguoidung()
                    {
                         NguoiDungId = int.Parse(id)
                    };
        }
        else
        {
            TieuDe = "Sửa người dùng";
            nguoidung = _nguoiDungSvc.GetNguoiDung(int.Parse(id));
        }
    }

    private void SubmitForm()
    {
        if  (nguoidung.NguoiDungId == 0)
        {
            if  (NguoiDungExists(nguoidung.UserName))
            
            {
                toastService.ShowError($"Đã tồn tại {nguoidung.UserName}");
                return;
            
            }
            
            var idtemp = _nguoiDungSvc.AddNguoiDung(nguoidung);
            if  (idtemp <= 0)
            {
                toastService.ShowError($"Lỗi");
                return;
            }

            toastService.ShowSuccess($"Thêm thành công người dùng {nguoidung.UserName}");
        }
        else
        {
            _nguoiDungSvc.EditNguoiDung(nguoidung.NguoiDungId, nguoidung);
            toastService.ShowInfo($"Sửa thành công người dùng {nguoidung.UserName}");
        }
        navigation.NavigateTo("/nguoi-dung-list");
    }

    private void Cancel()
    {
        navigation.NavigateTo("/nguoi-dung-list", true);
    }
    private bool NguoiDungExists(string username)
    {
        return _context.NguoiDungs.Any(e => e.UserName == username);
    }
}