@page "/mon-an-list"
@using eShopShare
@inject IMonAnSvc _monanSvc
@inject NavigationManager navigation;
@using eShopControl.Shared.PaginationView;
@using eShopShare.Models.Paging;
<h1 class="text-center">Danh sách món ăn</h1>

<BlazoredTypeahead SearchMethod="@SearchMonAn"
                   TValue="MonAn"
                   TItem="MonAn"
                   Value="@selectedProduct"
                   ValueChanged="HandleSearch"
                   ValueExpression="@(()=> selectedProduct)"
                   placeholder="Tìm món ăn">
    <SelectedTemplate>
        @context.Name
    </SelectedTemplate>
    <ResultTemplate>
        @context.Name
    </ResultTemplate>
    <NotFoundTemplate>
        Sorry, there weren't any search results.
    </NotFoundTemplate>
</BlazoredTypeahead>
<br />
@if (monans == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <a class="btn btn-info p-10" href="/mon-an-dialog/0">Thêm</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Giá</th>
                <th scope="col">Phân loại</th>
                <th scope="col">Hình</th>
                <th scope="col">Đang phục vụ</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in monans)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Gia</td>
                    <td>
                        @if (item.CategoryID != null)
                        {
                            @item.Category.Title
                        }

                    </td>
                    <td>
                        @if (item.Photos.Any())
                        {
                            <img src="images/food/@item.Photos.FirstOrDefault().FileName" alt="" style="width:150px;border-radius:0px">
                        }
                        else
                        {
                            <img src="/images/nophoto.png" alt="" style="width:150px;border-radius:0px">
                        }
                    </td>
                    <td>
                        <input class="form-control" @bind="item.TrangThai" type="checkbox" disabled>
                    </td>
                    <td><a class="btn btn-info" href="/mon-an-dialog/@item.Id">Sửa</a></td>
                    <td><button class="btn btn-info" @onclick="@(()=>Delete(@item.Id))">Xóa</button></td>
                </tr>
            }
        </tbody>
    </table>

}
@code {
    public List<MonAn> monans;
    protected override void OnInitialized()
    {
        monans = _monanSvc.GetMonAnAll();
    }
    private void Delete(int id)
    {

    }
    private MonAn selectedProduct;
    private async Task<IEnumerable<MonAn>> SearchMonAn(string text)
    {
        var res = await _monanSvc.Search(text);
        return res;
    }
    private void HandleSearch(MonAn product)
    {
        if (product == null) return;
        selectedProduct = product;
        navigation.NavigateTo($"/mon-an-dialog/{selectedProduct.Id}");
    }
}