@page "/khach-hang-list"
@using Microsoft.AspNetCore.Identity
@using eShopShare
@inject IDonHangSvc _donhangSvc
@inject DataContext _context
@inject NavigationManager navigation;
@using Microsoft.EntityFrameworkCore;
<h1 class="text-center">Danh sách khách hàng</h1>
<BlazoredTypeahead SearchMethod="@SearchKhachHang"
                   TValue="AppUser"
                   TItem="AppUser"
                   Value="@selectedUser"
                   ValueChanged="HandleSearch"
                   ValueExpression="@(()=> selectedUser)"
                   placeholder="Tìm khách hàng (User Name, Tên, Email)">
    <SelectedTemplate>
        @context.Email
    </SelectedTemplate>
    <ResultTemplate>
        @context.Email
    </ResultTemplate>
    <NotFoundTemplate>
        Sorry, there weren't any search results.
    </NotFoundTemplate>
</BlazoredTypeahead>
<br />
@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                @*<th scope="col">Địa chỉ</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in users)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.DayOfBirth</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td><a class="btn btn-info" href="/khach-hang-detail/@item.Id">Chi tiết</a></td>
                    @*<td>@item.HomeAddress</td>*@
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public List<AppUser> users;
    protected override void OnInitialized()
    {
        users = _context.Users.ToList();
    }
    private AppUser selectedUser;
    private async Task<IEnumerable<AppUser>> SearchKhachHang(string text)
    {
        var res = await _context.Users.Where(m => m.UserName.Contains(text)
        || m.Name.Contains(text)
        || m.Email.Contains(text)).ToListAsync();
        return res;
    }
    private void HandleSearch(AppUser user)
    {
        if (user == null) return;
        selectedUser = user;
        navigation.NavigateTo($"/khach-hang-detail/{selectedUser.Id}");
    }
}