@using System.Threading
@using Newtonsoft.Json
@using System.Net
@using System.Security.Claims
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@implements IDisposable
@inject IOnChangeService _OCSvc
@inject Microsoft.Extensions.Configuration.IConfiguration config;
@inject AuthenticationStateProvider auth;
@inject IToastService _toastSvc;

<div class="menu-area">
    <div class="top-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 v_middle">
                    <div class="logo d-block d-md-none" style="padding:19px 0">
                        <a href="/" title="  Logo">
                            <img src="Assets/Imgs/Logo/" alt="  Logo" title="  Logo" class="img-fluid" width="399" height="50">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
                    <AuthorizeView>
                        <Authorized>
                            <div class="author-area">
                                <div class="author__notification_area">
                                    <ul>
                                        <li class="has_dropdown">
                                            <div class="icon_wrap" onmouseover="if (!window.__cfRLUnblockHandlers) return false; getNotification(true)">
                                                <span class="fal fa-bell"></span>
                                                <span id="notification_count" class="notification_count noti">0</span>
                                            </div>
                                            <div class="dropdowns notification--dropdown">
                                                <div class="dropdown_module_header">
                                                    <h4>Thông báo</h4>
                                                    <a href="/user/notifications" target="_blank">Xem tất cả</a>
                                                </div>
                                                <div id="notifications_module" class="notifications_module"></div>
                                            </div>
                                        </li>
                                        <li class="has_dropdown">
                                            <div class="icon_wrap">
                                                <span class="fal fa-envelope"></span>
                                                <span class="notification_count msg">0</span>
                                            </div>
                                            <div class="dropdowns messaging--dropdown">
                                                <div class="dropdown_module_header">
                                                    <h4>Hộp thư</h4>
                                                    <a href="/user/inbox">Xem tất cả</a>
                                                </div>

                                            </div>
                                        </li>
                                        <li class="has_dropdown">
                                            <div class="icon_wrap">
                                                <span class="fal fa-shopping-cart"></span>
                                                <span class="notification_count msg">@GetCountCart()</span>
                                            </div>
                                            <div class="dropdowns messaging--dropdown">
                                                <div class="dropdown_module_header">
                                                    <h4>Giỏ hàng</h4>
                                                    <a href="/cart">Xem tất cả</a>
                                                </div>
                                                @if (GioHangNotEmpty())
                                                {
                                                    @foreach (var item in giohang.cartItems)
                                                    {
                                                        <div class="messages">
                                                            <a href="/food-detail/@item.product.Id" class="message recent">
                                                                <div class="message__actions_avatar">
                                                                    <div class="avatar">
                                                                        @{
                                                                            if (item.product.Photos.Any())
                                                                            {
                                                                                temp = imgUrl + item.product.Photos.FirstOrDefault().FileName;
                                                                            }
                                                                            else
                                                                            {
                                                                                temp = imgUrl + "/nophoto.png";
                                                                            }
                                                                        }
                                                                        <img src="@temp" alt="avatar">
                                                                    </div>
                                                                </div>
                                                                <div class="message_data">
                                                                    <div class="name_time">
                                                                        <div class="name">
                                                                            <p>@item.product.Name</p>
                                                                        </div>
                                                                        <span class="time">
                                                                            <eShopClient.Shared.Label.FoodCategoryLabel PhanLoai="@item.product.phanLoai">

                                                                            </eShopClient.Shared.Label.FoodCategoryLabel>
                                                                        </span>
                                                                        <p>Số lượng: @item.quantity</p>
                                                                    </div>
                                                                </div>
                                                            </a>

                                                        </div>
                                                    }
                                                    <button @onclick="()=>OrderCart()" style="
    height: 46px ;" class="btn btn-primary btn-block mb-4">
                                                        Đặt hàng
                                                    </button>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="author-author__info inline has_dropdown">
                                    <div class="author__avatar">
                                        <img src="/css/Assets/Imgs/Avatar/avatar.jpg" alt="hovanthanh avatar" style="width: 35px; height: 35px; border-radius:50%">
                                    </div>
                                    <div class="autor__info">
                                        <p class="name">@context.User.Identity.Name</p>
                                        <p class="ammount">100,000,000 VND</p>
                                    </div>
                                    <div class="dropdowns dropdown--author">
                                        <ul>
                                            <li>
                                                <a href="/user/profile/335511">
                                                    <span class="fas fa-user"></span>Hồ sơ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/history">
                                                    <span class="fas fa-history"></span>Lịch sử mua hàng
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout">
                                                    <span class="fas fa-sign-out-alt"></span>Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile_content ">
                                <span class="fas fa-user menu_icon"></span>
                                <div class="offcanvas-menu closed">
                                    <span class="fal fa-times close_menu"></span>
                                    <div class="author-author__info">
                                        <div class="author__avatar v_middle">
                                            <img src="/css/Assets/Imgs/Avatar/avatar.jpg" alt="hovanthanh avatar" style="width: 50px; height: 50px; border-radius:50%">
                                        </div>
                                        <div class="autor__info v_middle">
                                            <p class="name">
                                                @context.User.Identity.Name
                                            </p>
                                            <p class="ammount">100,000,000 LND</p>
                                        </div>
                                    </div>
                                    <div class="author__notification_area">
                                        <ul>
                                            <li>
                                                <a href="/user/notifications">
                                                    <div class="icon_wrap">
                                                        <span class="fal fa-bell"></span>
                                                        <span class="notification_count noti">0</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/user/inbox">
                                                    <div class="icon_wrap">
                                                        <span class="fal fa-envelope"></span>
                                                        <span class="notification_count msg">0</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdowns dropdown--author">
                                        <ul>
                                            <li>
                                                <a href="/user/profile/335511">
                                                    <span class="fas fa-user"></span>Hồ sơ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/history">
                                                    <span class="fal fa-book-open"></span>Lịch sử mua hàng
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout">
                                                    <span class="fas fa-sign-out-alt"></span>Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </Authorized>
                        <NotAuthorized>

                            <div class="author-area not_logged_in">

                                <div class="pull-right join">
                                    <a href="/login" class="btn btn--round btn--xs btn-warning" title="Giỏ hàng">Giỏ hàng (@GetCountCart())</a>
                                    <a href="/register" class="btn btn--round btn-secondary  btn--xs" title="Đăng ký thành viên">Đăng ký</a>
                                    <a href="/login" class="btn btn--round btn--xs" title="Đăng nhập">Đăng nhập</a>
                                </div>
                            </div>
                            <div class="mobile_content ">
                                <span class="menu_icon">
                                    <a href="/login" title="Đăng nhập" style="color:white">Đăng nhập</a>
                                </span>
                            </div>

                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string emailAddress;
    string Name;
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    public PostCartModel giohang;
    protected string imgUrl = "";
    string cart;
    int cartItemCount = 0;
    protected string temp = "";

    protected override void OnInitialized()
    {
        //cart = sessionStorage.GetItem<string>("cart");
        _OCSvc.OnChange += StateHasChanged;

        getGioHang();
        imgUrl = config.GetSection("API")["ImgUrl"].ToString();
    }
    public void Dispose()
    {
        _OCSvc.OnChange -= StateHasChanged;
    }
    public void getGioHang()
    {
        var cart = sessionStorage.GetItem<string>("cart");//get key cart

        if (cart == null)
        {
            giohang = new PostCartModel();
        }
        else
        {
            giohang = JsonConvert.DeserializeObject<PostCartModel>(cart);
        }
    }
    private async Task OrderCart()
    {
        NavigationManager.NavigateTo("/checkout");
    }
    private bool GioHangNotEmpty()
    {
        getGioHang();
        if (giohang.cartItems != null)
            return true;
        return false;
    }
    private void DeleteCart(CartItem item)
    {
        giohang.cartItems.Remove(item);
        giohang.TongTien = Tinhtien(giohang.cartItems);
        sessionStorage.SetItem("cart", JsonConvert.SerializeObject(giohang));
        _OCSvc.Invoke();
    }

    private double Tinhtien(List<CartItem> listCart)
    {
        double tongtien = 0;
        if (listCart != null)
        {
            for (int i = 0; i < listCart.Count; i++)
            {
                tongtien += listCart[i].Sotien;
            }
        }
        return tongtien;
    }
    public int GetCountCart()
    {
        cart = sessionStorage.GetItem<string>("cart");
        if (cart != null)
        {
            PostCartModel giohang = JsonConvert.DeserializeObject<PostCartModel>(cart);
            var temp = cartItemCount = giohang.cartItems.Count;
            if(temp < 1){
                temp = 0;
            }
            return temp;
        }
        return 0;
    }
    protected void o()
    {
        emailAddress = sessionStorage.GetItem<string>("Email");
        cart = sessionStorage.GetItem<string>("cart");
    }

}